{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
{% set elementos = ['a', 'b', 'c', 'd', 'e', 'f', 'g'] %}

<table>
    {% for row in elementos|batch(3, 'Vacío') %}
        <tr>
            {% for column in row %}
                <td>{{ column }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{{ product.price|price }}

{% endblock %}